table, thead, tbody, tfoot, tr, th, td, button, section {
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: inherit;
    border-spacing: 0;
    border-color: inherit;
    vertical-align: inherit;
    font-weight: inherit;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}

*, *:before, *:after, input, textarea, button, select {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input {
    border-radius: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input:focus,
label:focus,
textarea:focus,
select:focus,
option:focus,
button:focus,
a:focus {
    outline: none;
}

body {
    position: relative;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-container {
    margin: auto;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	padding-top: 0;
	height: 210px !important;
	align-items: center;
	border-bottom: 1px solid #b4b4b4;
}

.header .main-menu button{
	padding-bottom: 2px;
	font-size: 12px;
	border-bottom: 1px solid tomato;
}

.header__logo h1 {
	font-size: 90px;
	letter-spacing: 0.1em;
	color: #205663;
	display: flex;
    align-items: flex-end;
}

.header__logo a {
    display: inline-block;
    cursor: pointer;
}
.header__items {
    grid-column: 4;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.search-menu {
    margin-right: 20px;
    cursor: pointer;
}

.social-link {
    display: flex;
    justify-content: center;
}

.social-link a {
    display: block;
    color: black;
    padding: 0 10px;
    cursor: pointer;
}

.social-link a:hover {
    color: rgba(0, 0, 0, 0.5);
}
.main-menu {
    grid-column: 4;
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.main-menu li a,
.menu__box li a, .main-menu li button {
    display: block;
    text-transform: uppercase;
	color: black;
	font-size: 17px;
	margin-left: 15px;
	font-weight: 500;
}

.main-menu li a:hover,
.menu__box li a:hover {
    text-decoration: underline;
}

.main-menu {
    grid-column: 4;
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hamburger-menu {
    display: none;
}

button {
    background-color: white;
    cursor: pointer;
    text-transform: uppercase;
}
button:hover {
    color: red;
}

.header-image{
	background: url('https://images.unsplash.com/photo-1506241537529-eefea1fbe44d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
	background-size: cover;
	height: 100vh;
	position: relative;
}
.error-wrap, .menu-wrap {
    display: flex;
}
.home-title {
    font-size: 30px;
    background-color: white;
    color: black;
    font-size: 6vw;
    font-weight: bold;
    padding: 2% 6%;
    width: max-content;
    position: absolute;
    top: 11%;
    left: 7%;
    mix-blend-mode: screen;
}

.main-about{
	padding-bottom: 50px;
}
.about-image{
	width: 100%;
	object-fit: cover;
	object-position: 75% 25%;
	height: 450px;
}
.about-title{
	margin-left: 40px;
	margin-top: 20px;
	padding: 0 20px;
	font-size: 23px;
	line-height: 1.8em;
	border-left: 8px solid #205663;
}
.main-contact{
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 200px;
	margin: 0 auto;
}
.main-contact span{
	font-size: 20px;
	font-weight: 300;
	color: #000;
}
.main-contact p{
	font-size: 18px;
	font-weight: 700;
	color: #000;
}
.contacts{
	padding-top: 20px;
	font-size: 25px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
}

.main-portfolio{
	padding-top: 50px;
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: stretch;

}

.main-portfolio img{
	margin-bottom: 70px;
	border-radius: 50px;
}

@media (max-width: 700px) {
    .header, .container {
        display: block;
    }
    .header__logo h1 {
        align-items: center;
    }
    .main-menu {
        flex-direction: column;
    }
    .main-menu li a {
        margin:  10px 0;
	}
	.about-title{
		font-size: 16px;
	}
	.header-image{
		background-position: 50% 50%;
	}
	.main-contact {
		width: 80%;
	}
	.main-contact p {
		text-align: center;
	}
    .main-portfolio img {
        width: 100%;
    }
    .main-menu li a {
        font-size: 14px;
        margin-left: 8px;
    }
    .menu-wrap {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 12px;
    }
}


